
html {
    font-size: 62.5%;
}


body {
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #0b0056;
    background-color: #fff7fe;
}


header {
    background-image: url("../images/toppic.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.text-center {
    text-align: center;
}

h2.text-center {
    margin: 20px 20px; // padding: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.container {
    display: -webkit-flex;
    display: flex;

    justify-content: space-between;
}

@media (max-width: 768px) {

    .container {
        flex-direction: column;
    }
    header {
        height: 250px;
    }
}

.box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex: 1;
    flex: 1;
    margin: 10px 10px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fdfcf6;
    text-align: center;

}

.box p {
    padding: 10px;
}



.title {
    background-color: #6e00ff21;
    padding: 10px;
}

.footertext {
    text-align: center;
}

.wrapper {
    display: table;
    border-spacing: 15px 0;
    border-collapse: separate;
}

.wrapper {
    display: table-cell;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
}

.block-center {
    border-radius: 10px;
    display: block;
    border-radius: 4px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #ffec0ab0;
    width: 90px;
    margin: 0 auto;
}

.radius {
    margin: 10px;
}

footer {
    background-color: #ffd2f7;
    padding-bottom: 20px;
    padding-top: 20px;

}
